div.author {
    font-size: 15px;
    position: absolute;
    bottom: 5px;
    right: 32px;
    line-height: 20px;
    vertical-align: bottom;
    z-index: 11;
}

div.author img {
    height: 15px;
    position: relative;
    top: 3px;
}

tr.noline td {
    border-bottom: 0px;
}

span.small {
    font-size: 80%;
}

.de-emph {
    color: #aaa !important;
}
.reveal .slides {
    text-align: left;
}

.fake {
    display: none;
}
