/* Override CSS element specific to presentation
 */

/* Adjusting logo: overrides ./reveal.js/css/theme/redhat.css */
.reveal .slides .authorbox img {
    height: 50px;
    position: relative;
    top: 15px;
    margin: 0px;
    border: 0px;
    background: none;
    box-shadow: none;
}
